

{% extends 'main/start.html' %}



{% load static %}

{% block title %}
    <title>HRIS</title>
{% endblock %}

{% block body %}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">ИС отдела кадров</h1>
            <p class="lead text-muted">Учет списка сотрудников</p>
            <p>
                  {% if user.is_authenticated %}
                  <a href="{% url 'staff' %}" class="btn btn-primary my-2">Сотрудники</a>
                  {% else %}
                      <h1 class="lead text-muted">Перед использованием необходима регистрация</h1>
                      <a href="{% url 'reg' %}" class="btn btn-primary my-2">Зарегестрироваться</a>

                  {% endif %}


            </p>
        </div>
    </div>
</section>

{% endblock %}